<div id="navbar">
    <a routerLink="/home" routerLinkActive=active ariaCurrentWhenActive="page">
        <img src="/title_logo.jpg" class="title-img">
    </a>
    <div id="nav-links">
        <div id="dropdown" style="display:inline-block">
            <app-dropdown></app-dropdown>
        </div>
        <a class="nav-button" routerLink="/gallery" routerLinkActive=active ariaCurrentWhenActive="page">Gallery</a>
        <a class="nav-button" routerLink="/LEO" routerLinkActive=active ariaCurrentWhenActive="page"> Law Enforcement & First Responders</a>
        <a class="nav-button" routerLink="/contact" routerLinkActive=active ariaCurrentWhenActive="page">Contact</a>
    </div>
    <a id="quote-button" routerLink="/quote-request" class="red-button" routerLinkActive=active ariaCurrentWhenActive="page">Request a quote!</a>
</div>