<div class="jw-modal" >
    <div class="jw-modal-body">
        <h4><span class="req">*</span>What size is your vehicle?</h4>
        <div class="container">
            <div class="row gx-3 gy-2">
                <div class="col-lg-2" *ngFor="let size of sizes" (click)="activeEvent(size.vehicleSize, 'vehicle-card-el', false)">
                    <app-vehicle-size-card [vehicleEx]=size.vehicleEx [vehicleSize]=size.vehicleSize [shortSize]=size.shortSize (click)="updateSize(size.shortSize)"></app-vehicle-size-card>
                </div>
            </div>
        </div>
        <h4><span class="req">*</span>What package would you like to book?</h4>
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="row gy-2">
                        <div class="col-lg-4" *ngFor="let estimate of estimates" (click)="activeEvent(estimate.packageUrlFrag, 'booking-card-el', true)" >
                            <app-booking-estimate-card [packagePrice]=estimate.packagePrice [packageTitle]=estimate.packageTitle [packageUrlFrag]=estimate.packageUrlFrag [vehicleSize]=estimate.vehicleSize [packageClass]=estimate.packageClass></app-booking-estimate-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>