<app-cover-pic [picUrl]=pu [title]=tt [subtitle]=st></app-cover-pic>
<div style="text-align:center;max-width:80%;margin-left:auto;margin-right:auto">
    <h4>All exterior detailing services come with a 24-hour rain guarantee! If it rains within 24 hours of your detailing appointment finishing & you'd like a touch-up, we'll come back and give your car a quick spotless wash, free of charge.</h4>
</div>
<app-service-info-grid [relInfo]=msga [serviceType]="'exterior'"></app-service-info-grid>
<app-booking-modal [id]=ida [activeType]=tp style="display:none"></app-booking-modal>